#artwork{
  /* position: absolute; */
  margin: 10% auto;
  height: 300px;
  width: 300px;
  border-radius: 5%;
  border: 2px solid;
  background-size: 100% 100%;
}



#titleBox{
  width:100%;
  height: 10%;
  /* border: 2px solid; */
  margin-bottom: 2%;
  font-family: verdana;
  font-size: 3em;
}

.wrapper{
  border: 2px solid;
  display: flex;
  justify-content: space-around;

}

#playButt{
  /* color: green; */
  height: 15%;
  width: 15%;
/* justify-content: space-around; */
  margin-top: 20px;
  margin-bottom: 20px;
  /* margin-left: 25%; */
}

#pauseButt{
  height: 15%;
  width: 15%;

  margin-top: 20px;
  margin-bottom: 20px;
  /* margin-left: 50% */
    /* margin: 10%; */

}

#nextButt{
  height: 15%;
  width: 15%;
  /* justify-content: space-around; */
  margin-top: 20px;
  margin-bottom: 20px;
    /* margin: 10%; */
}
